body {
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    margin:100px;
    height: 100vh;
}
.userContainer{
	display:flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin-bottom: 4px;
    text-align: center;
}
.loginBtn{
    background-color:blue ;
    color: white;
    width:70px;
    height:30px;
    border: 1px solid black;
    box-shadow: 2px 2px darkblue;
}
.errors{
	color: red;
}

.registerBtn{
    background-color:greenyellow ;
    color: white;
    width:70px;
    height:30px;
    border: 1px solid black;
    box-shadow: 2px 2px gray;
}
.loginContainer,.registerContainer{
    margin:20px;
}
.loginContainer>input{
    width: 400px;
    border-radius: 20px;
    margin-bottom: 3px;
}
.userDetails{
    margin:20px;
    padding-left:20px;
    border: 2px black solid;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(111, 60, 24);
}
table{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border: 2px solid #ced7dd;
	table-layout: fixed;
	display: table;
}
tr{
	border-bottom: 1px solid #ddd;
	background-color:rgb(111, 160, 124);
	color:white;
}
td{
	padding: 16px;
	display: table-cell;
	max-width: 0px;
	text-align: center;
}
.logoutBtn{
	background-color:red;
    color: white;
    width:70px;
    height:30px;
    border: 1px solid black;
    box-shadow: 2px 2px darkblue;
}

